body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: blanchedalmond;
  margin-top: 3rem; /* Adjust this if you have a fixed navbar */
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h1 {
  padding: 0;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: aquamarine;
  transition: all 0.4s ease;
}

h2 {
  padding: 0;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: blanchedalmond;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343a44;
  color: #fff;
  z-index: 1000;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-dropdown {
  display: flex;
  align-items: center;
}

.navbar-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #40454e;
  color: #fff;
  margin-left: 1rem;
}

.navbar-select option {
  background-color: #40454e;
  color: #fff;
}

.main-content {
  width: 100%;
  padding-top: 4rem; /* Ensure this matches the height of your navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: var(--header-height);
  margin: 1rem;
}

.nav__logo {
  color: var(--first-color);
  transition: color 0.4s;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}

@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
