body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: blanchedalmond;
  padding-top: 60px; /* Adjust to ensure content is below navbar */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #343a44;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.navbar button:hover {
  text-decoration: underline;
}

select {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: #3e4249;
  color: white;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

.chart-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3b3f47;
  border-radius: 8px;
}

/* Reset default styles for the unordered list */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Define styles for each list item */
.navbar ul li {
  float: left;
}

/* Define styles for links and buttons within list items */
.navbar ul li a, .navbar ul li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Change background color on hover */
.navbar ul li a:hover, .navbar ul li button:hover {
  background-color: #111;
}

/* Style the first item (title) differently */
.navbar ul li:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1rem;
}
